body {
    background-color: #f1d9d9;
}

.this-title {
    font-family: 'Mustard';
    font-size: 24px;
    padding: 10px;
}

.app {
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 8px;
    margin: 0 0 40px 0;
}
.app-title {
    // margin: 10px;
}

.radioGaGa {
    margin: 0 20px 0 0;
    padding: 4px 0 0;
    font-size: 16px;
}

.subs-button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 14px;
    margin: 20px 0 0 0;
}